{% extends 'default.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans "User page" %} {{ request.user.username }}</h2>
<div>Здесь может содержаться персональная информация для каждого пользователя</div>

<!-- Ссылка на страницу manage_responses.html -->
<a href="{% url 'manage_responses' %}" class="btn btn-primary">{% trans "Go to manage response" %}</a>

<!-- Кнопка выхода -->
<button class="btn btn-secondary">
    <a href="{% url 'account_logout' %}?next=/" class="text-white">{% trans "Logout" %}</a>
</button>

{% endblock %}